.AccordionHeader {
    display: grid;
    grid-template-columns: 1fr 170px 110px;
    align-items: center;
    column-gap: 8px;
}

.TargetWrapper {
    display: flex;
    column-gap: 8px;
    margin-top: 8px;
}

.Target {
    flex-shrink: 0;
}

.CacheName {
    word-break: break-all;
    font-weight: 600;
}

.RowChunk {
    justify-content: center;
    padding-block: 0;
}

.ContentRowChunkWrapper {
    min-width: 0;
    padding-block: 0;
}

.ContentWrapper {
    min-width: 0;
}