.AccordionHeader {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    text-align: center;
}

.ContentWrapper {
    text-align: left;
}

.TargetWrapper {
    display: flex;
    column-gap: 8px;
    margin-top: 8px;
}

.CacheName {
    word-break: break-all;
    font-weight: 600;
}

.ContentRowChunkWrapper,
.ContentWrapper {
    min-width: 0;
}