.TruncatWrapper {
  display: flex;
  column-gap: 8px;
  min-width: 0;
  width: min(450px, 100%);
}

.Truncat {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CopyIcon {
  color: var(--axile-primary-green);
  cursor: pointer;
}
