.TextWrapper {
  display: flex;
  column-gap: 8px;
  min-width: 0;
}

.Text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 450px;
}

.CopyIcon {
  color: var(--axile-primary-green);
  cursor: pointer;
}