.Table {
    margin-bottom: 40px;
}

.Table:last-child {
    margin-bottom: 0;
}

.TableRow {
    display: flex;
    column-gap: 20px;
    width: 100%;
}

.RowChunk {
    width: 50%;
    flex: 1 1 0;
    min-width: 0;
}

.RowChunk:last-child {
    word-break: break-all;
}
