.CardWrapper,
.CardWrapper>* {
    height: 100%;
}

.CardWrapper {
    transition: translate 0.3s;
}

.CardWrapper:hover {
    translate: 0 -15px;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 25px;
    background-color: #161b22;
    border: 1px solid #30363d;
    color: var(--axelix-primary-white);
    border-radius: var(--axelix-border-radius-large);
    padding: 45px 24px 24px 24px;
    height: 100%;
    transition: border-color 0.3s, translate 0.3s;
}

.HeaderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.Card:hover {
    border-color: #484f58;
}

.CardTitle code {
    color: var(--axelix-primary-green);
}

.CardDescription {
    line-height: 1.5;
    font-size: 16px;
}

.CardDescription code {
    color: var(--axelix-primary-green);
}

.ImageWrapper {
    aspect-ratio: 16 / 10;
    border-radius: var(--axelix-border-radius-large);
    overflow: hidden;
}

.ImageWrapper :global(.ant-image) {
    width: 100%;
    height: 100%;
    display: block;
}

.ImageWrapper :global(.ant-image-img) {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    display: block;
}

.ReadDocumentationWrapper {
    text-align: right;
    margin-top: 20px;
}

.DocsWrapper {
    transition: color 0.3s;
}

.Card:hover .DocsWrapper {
    color: var(--axelix-primary-green);
}
