.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--axile-border-radius-large);
    box-shadow: 4px 4px 10px 0px #00000040;

}

.Card:hover {
    cursor: pointer;
    color: inherit;
}

.Card:hover > .CardHeader {
    color: var(--axile-primary-green);
}

.CardHeader {
    display: grid;
    place-items: center;
    flex: 1;
    padding: 8px;
    text-align: center;
    font-weight: 500;
    border-radius: var(--axile-border-radius-large);
    word-break: break-all;
    transition: color 0.3s ease;
}

.CardUP {
    border: 1px solid var(--axile-primary-green);
}

.CardHeaderUP {
    background-color: var(--axile-primary-light-green);
    outline: 1px solid var(--axile-primary-green);
}

.CardDOWN {
    border: 1px solid var(--axile-primary-red);
}

.CardHeaderDOWN {
    background-color: var(--axile-primary-light-red);
    outline: 1px solid var(--axile-primary-red);
}

.CardUNKNOWN {
    border: 1px solid var(--axile-bold-grey);
}

.CardHeaderUNKNOWN {
    background-color: var(--axile-medium-grey);
    outline: 1px solid var(--axile-bold-grey);
}

.CardBody {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px;
}

.CardBodyChunk {
    display: flex;
    column-gap: 8px;
}

.HashAndTimeWrapper {
    display: flex;
    justify-content: space-between;
}
