.Table {
    display: grid;
    grid-template-columns: 1fr repeat(2, min-content);
    border-radius: var(--axelix-border-radius-large);
    border: 1px solid var(--axelix-light-grey);
    overflow: hidden;
    margin-bottom: 40px;
}

.Table:last-child {
    margin-bottom: 0;
}

.TableHeader,
.WrapperStyles,
.HeaderStyles {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

.TableHeader,
.HeaderStyles {
    column-gap: 30px;
}

.TableHeader {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    background-color: var(--axelix-primary-light-green);
    border-bottom: 1px solid var(--axelix-light-grey);
    border-top-left-radius: var(--axelix-border-radius-large);
    border-top-right-radius: var(--axelix-border-radius-large);
    padding: 16px;
    text-align: center;
}

.CacheManagerName {
    word-break: break-all;
    text-align: left;
}
