.CacheManagerWrapper {
    margin-bottom: 40px;
}

.CacheManagerHeader {
    display: grid;
    grid-template-columns: 1fr 150px 110px;
    align-items: center;
    column-gap: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0;
}

.RowChunk {
    justify-content: center;
}

.CacheManagerName {
    font-weight: 500;
    word-break: break-all;
}

.ClearCachesButton {
    flex-shrink: 0;
}

.HeaderStyles {
    padding-right: 0;
}