.MainWrapper {
    width: min(420px, 100%);
    border-radius: var(--axelix-border-radius-large);
    padding: 16px;
    box-shadow: var(--axelix-box-shadow-bold);
}

.Title {
    margin-bottom: 20px;
    text-align: center;
}