.MainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 170px;
    margin-bottom: var(--axelix-section-margin-bottom);
}

@media (width <= 870px) {
    .MainWrapper {
        row-gap: 80px;
    }
}