.IntervalPreviewWrapper,
.EditWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    width: 100%;
}

.EditActionButtons {
    flex-shrink: 0;
}