.Prefix {
    color: var(--axile-text-grey);
    margin-top: 8px;
}

.PrefixTitle {
    color: var(--axile-primary-green);
}

.Highlight {
    animation: highlight-fade 4s;
}

@keyframes highlight-fade {
    0% {
        background-color: var(--axile-primary-green);
    }

    100% {
        background-color: var(--axile-primary-light-green);
    }
}