.AccordionWrapper {
    margin-bottom: 30px;
}

.AccordionHeader {
    font-weight: 600;
    word-break: break-all;
}

.HeaderStyles {
    background-color: var(--axelix-primary-light-green);
    padding: 16px;
}

.ContentStyles {
    padding: 0;
}

.KeyChunk {
    column-gap: 8px;
}

.ValueChunk {
    display: flex;
    justify-content: flex-end;
}