.AccordionWrapper {
    margin-bottom: 40px;
    scroll-margin-top: 150px;
}

.AccordionHeader {
    font-weight: 600;
}

.HeaderStyles {
    background-color: var(--axile-primary-light-green);
    padding: 16px;
}

.ContentStyles{
    padding: 0;
}