.Header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--axile-header-height);
}

.Logo {
  width: 140px;
  cursor: pointer;
}

.LinksAndAvatarWrapper {
  display: flex;
  align-items: center;
}

.Avatar {
  margin-inline: 30px 20px;
  background-color: var(--axile-primary-green);
  cursor: pointer;
}
